{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
  <div class="row">
    <div class="col-4 text-center">
      <div class="image-container">
        {% if "placeholder" in post.featured_image.url %}
        <img class="card-img-top" src="{% static 'images/default.jpg' %}"
            alt="placeholder image">
        {% else %}
        <img class="card-img-top" src=" {{ post.featured_image.url }}"
            alt="{{ post.title }}">
        {% endif %}
      </div>
      <img src="{% static 'images/nobody.jpg' %}" width="75%" />
    </div>
    <div class="col-8">
      <!- Title goes between these h2 tags -->
      <h2>{{ event.title }}</h2>
      <!-- Content goes directly underneath this -->
      {{ event.content | safe }}
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
       Updated on field goes in here -->

      <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
    </div>
  </div>
</div>
{% endblock content %}   