{% extends "base.html" %}
{% load static %}
{% block content %}


<html lang="en">

<div class="container">

    <div class="row">
        <div class="col-12">
            <img src="{{ event.featured_image.url }}" class="img-fluid w-95"
                style="max-height: 300px; object-fit: 100%;" alt="{{ post.title }}">
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-8 text-center">
            <h2>{{ event.title }}</h2>
            <p><strong> {{ event.event_date }} </strong></p>
            <p>{{ event.description|striptags }}</p>
            <p class="text-muted"><em>Updated on: {{ about.updated_on }}</em></p>
            <a href="{% url 'events' %}">Back to Events</a>
        </div>
    </div>

{% endblock %} 



