{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                {% for post in post_list %}
                <div class="col">
                    <div class="card h-100">
                        <div class="image-container">
                            <!-- Clickable Image -->
                            <a href="{% url 'post_detail' post.slug %}">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top img-fluid" src="{% static 'images/default.jpg' %}"
                                    style="height: 300px; object-fit: cover;" alt="placeholder image">
                                {% else %}
                                <img class="card-img-top img-fluid" src="{{ post.featured_image.url }}"
                                    style="height: 300px; object-fit: cover;" alt="{{ post.title }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                            </a>
                            <p class="card-text">{{ post.excerpt }}</p>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>


<!-- index.html content ends here -->
{% endblock %}
{% block copyright %}Copyright 2024 Lynda Worth{% endblock %}